{
    "swagger": "2.0",
    "info": {
        "description": "This is data manager for Sky platform.",
        "title": "Sky Data Manager",
        "contact": {
            "name": "@BigRedEye",
            "url": "https://t.me/BigRedEye",
            "email": "mail@sskvor.dev"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0"
    },
    "host": "sky.sskvor.dev",
    "basePath": "/v1",
    "paths": {
        "/files": {
            "post": {
                "description": "Create new file metadata, actual file binary should be uploaded later",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "files"
                ],
                "summary": "Create new file",
                "parameters": [
                    {
                        "description": "File metadata",
                        "name": "file",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/modelapi.FileRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/modelapi.FileResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/files/{id}": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "files"
                ],
                "summary": "Get existing file metadata",
                "parameters": [
                    {
                        "type": "string",
                        "description": "File id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/modelapi.FileResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/files/{id}/data": {
            "get": {
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "files"
                ],
                "summary": "Get existing file contents",
                "parameters": [
                    {
                        "type": "string",
                        "description": "File id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "Upload binary data for existing file metadata. Should not be called directly, use returned upload url instead",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "files"
                ],
                "summary": "Upload file data",
                "parameters": [
                    {
                        "type": "string",
                        "description": "File id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Token returned with metadata",
                        "name": "token",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "file",
                        "description": "File contents",
                        "name": "file",
                        "in": "formData",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/modelapi.FileResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "413": {
                        "description": "Request Entity Too Large",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/errors.ErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "errors.ErrorResponse": {
            "type": "object",
            "properties": {
                "error": {
                    "type": "string",
                    "example": "Some debug info"
                },
                "status": {
                    "type": "string",
                    "example": "Generic error description"
                }
            }
        },
        "modelapi.FileRequest": {
            "type": "object",
            "properties": {
                "executable": {
                    "type": "boolean"
                },
                "name": {
                    "type": "string",
                    "example": "file.txt"
                },
                "owner": {
                    "type": "string",
                    "example": "b14bf169-3df5-4d61-ba94-1a09103cbdb2"
                },
                "tags": {
                    "type": "object",
                    "$ref": "#/definitions/modeldb.TagsMap"
                },
                "task_id": {
                    "type": "string"
                }
            }
        },
        "modelapi.FileResponse": {
            "type": "object",
            "properties": {
                "executable": {
                    "type": "boolean"
                },
                "id": {
                    "type": "string",
                    "example": "6d83a3d2-16a6-486a-91a2-5d44ba74e326"
                },
                "name": {
                    "type": "string",
                    "example": "file.txt"
                },
                "owner": {
                    "type": "string",
                    "example": "b14bf169-3df5-4d61-ba94-1a09103cbdb2"
                },
                "tags": {
                    "type": "object",
                    "$ref": "#/definitions/modeldb.TagsMap"
                },
                "task_id": {
                    "type": "string"
                },
                "upload_url": {
                    "type": "string",
                    "example": "https://sky.sskvor.dev/v1/files/6d83a3d2-16a6-486a-91a2-5d44ba74e326/data?token=9ee2e81f-16a3-46e1-b794-9e8364a90128"
                }
            }
        },
        "modeldb.TagsMap": {
            "type": "object",
            "additionalProperties": {
                "type": "string"
            }
        }
    }
}
